* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background-image: url(/img/hero.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background-color: #FCF0FF; 
  height: 88px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

 .navbar__container img{
    width: 200px;
}

#navbar__logo:hover {
  opacity: 0.8;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 88px;
}

.navbar__links {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  transition: 0.3s ease;
}

.navbar__links:hover {
  opacity: 0.7;
}

/* Mobile Menu */
.navbar__toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background: #000000;
  margin: 4px 0;
  transition: all 0.3s ease;
}

@media screen and (max-width: 968px) {
    .navbar{

    }
  .navbar__toggle {
    display: flex;
  }

  .navbar__menu {
    display: none;
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-image: linear-gradient(to top, #FF00D0 0%, #163DB3 100%);
  }

  .navbar__menu.active {
    display: flex;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    padding: 1.5rem 0;
    width: 100%;
    text-align: center;
  }
}

.hero{
    margin: 50px;
}

.hero h1{
    font-family: Arial;
    font-size: 40px;
    padding-bottom: 30px;
}

.btn{
    width:308px;
    height: 80px;
    background-image: linear-gradient(to right, #FF00D0 0%, #163DB3 100%);
    border: none
}

.btn a{
    font-size: 32px;
    text-decoration: none;
    color: white;
    font-family: Arial;
}

@media (max-width: 576px){
    .hero{
    flex-direction: column;
    text-align: center;
    }
}

/* gallery*/

.work__container{
    width: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto px;
    width: 100%;
    max-width: 1300px;
    padding: 100px 30px 60px 30px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.gallery-item{
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer
}

.gallery-item img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3 ease;
}

.gallery-item img:hover{
    transform: scale(1.05);;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}

#lightbox .close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 576px){
    .work__container{
        position: relative;
        margin: 0px;
        width: 400px;
    }
}